{% extends "base.html" %}


{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="subtitle">{{current_user.nombres}} {{current_user.apellidos}}</h3>
    <div class="title">
        <h4>Seleccione el curso al que desea matricularse</h4>
    </div>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <div class='notification is-danger'>
                    <p>{{msg}}</p>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="cursos">
            {% for curso in cursos_disponibles %}
            <p><a href="/matricular/{{curso.nombre}}">
                {{curso.nombre}}
            </a></p>
            {% endfor %}
        </div>
        <br>
        <div class="button">
            <h5><a href="/user">
                Regresar
            </a></h5>
        </div>
    </div>
</div>
{% endblock %}