{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="column is-4 is-offset-4">
        <h3 class="title">Ingresa tus datos: </h3>
        <div class="box">    
            <form action="#" method="POST">
                <div class="field">
                    <div class="control">
                        <input required class="input is-large" type="email" name="email" placeholder="abc@centroeducativo.pe" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input required class="input is-large" type="number" name="id" min=200000000 placeholder="Código">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input required class="input is-large" type="password" name="password" placeholder="Nueva contraseña">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="button is-block is-info is-large is-fullwidth" type="submit" value="Revisar Credenciales">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}